# Normalize all text files to LF on checkout and commit
* text=auto eol=lf

# Force binary files to never be modified
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff binary
*.woff2 binary
